.note{
    margin: 16px;
    margin-left: 30px;
    float: left;
    background-color: white;
    border-radius: 7px;
    width: 240px;
    padding: 10px; 
    box-shadow: 0 0 10px 0  rgba(0, 0,0, 0.3);
    font-family: "Montserrat", sans-serif;
}

.note__title{
    font-size: 1.1rem;
    margin-bottom: 6px;
}

.note__content{
    font-size: 1.1rem;
    margin-bottom: 10px;
    /* white-space: pre-wrap; */
}